.main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox_name
          .itemBox_body
            %ul 
          .itemBox_price
            .span
              
          .itemBox_price-detail
            .span
              (税込)
            .span
          .itemDetail
          .table
            .table
              .tbody
                .tr
                  .th
                    出品者
                  .td
                
        .commentBox
          %ul.commentContents
          %form.new_commit(action="#")
      %ul.links
        %li 
          %a
        %li
      .relatedItems
        %a
        .productLists
