<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2 style="color:red;">
      入力にエラーがあります。
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
