%section.topkey
  %h2.subtitle3
    FURIMAの特徴
  %ul.lists
    %li.list
      .list__pict
        = image_tag ("icon-01.png"), class: "top-img"
        %h3.list__texts
          簡単に売り買いできる
        %p.list__sub
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li.list
      .list__pict
        = image_tag ("icon-03.png"), class: "top-img"
        %h3.list__texts
          売上金は即日振込みに対応
        %p.list__sub
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %li.list.list--last
      .list__pict
        = image_tag ("icon-04.png"), class: "top-img"
        %h3.list__texts
          様々な支払いに対応
        %p.list__sub
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。