.exhibitionBtn {
  box-sizing: border-box;
  background-color: #3CCACE;
  width: 120px;
  color: white;
  border-radius: 4%;
  position: fixed;
  right: 32px;
  bottom: 32px;
  text-align: center;
  text-decoration: none;

  &__box {
    padding: 15px 15px 10px 15px;
  }

  &__text {
    font-size: 18px;
  }

  &__icon {
    padding-top: 5px;
  }
}

.exhibitionBtn:hover {
  opacity: 0.7;
}