.header {
  padding: 0px 60px;
}

.headerIn {
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  margin: 0 auto;
  padding: 15px 0 0;
}

.headermain {
  position: relative;
  display: flex;
  align-items: center;

  &__icon {
    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 4px;
  }
}
a{
  width: 140px;
  display: block;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.searchbar {
  margin-left: auto;
  width: 100%;
  display: flex;

  &__input {
    width: 100%;
    padding: 0 0 0 5px;
  }
}

.form {
  width: 100%;
  display: flex;
  height: 36px;
  margin-bottom: 5px;
}

button {

  width: 36px;
  border: 0;
  cursor: pointer;
  padding: 8px;
  background-color: #3CCACE;

  .search-btn {

    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}

.searchbutton {
  width: 36px;
  border: 0;
  cursor: pointer;
  background-color: #3CCACE;
  padding: 8px;
}

.tag {
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
}

.lefttag {
  position: relative;
  display: flex;

  &__item {
    color: #333;
    text-decoration: none !important;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }

  &--first {
    text-decoration: none;
    padding: 0;
  }
}

.righttag {
  margin-left: auto;
  display: flex;

  &__item {
    color: #333;
    text-decoration: none !important;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }

  &--login {
    text-decoration: none !important;
    padding: 0;
  }
}

.post {
  color: #333;
  text-decoration: none !important;
}