.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #efefef;
  color: rgb(51, 51, 51);
  font-size: 14px;
  
  &-contents {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    
    &__image {
      padding: 40px;
      border-bottom: 1px solid #efefef;
      &__title {
        display: flex;
        margin-bottom: 40px;
        &__sub {
          color: white;
          padding: 0px 3px;
          border-radius: 2px;
          background-color: red;
          margin-left: 5px;
        }
      }
      &__photo {
        
      }
    }
    &__product {
      padding: 40px;
      border-bottom: 1px solid #efefef;
      position: relative;
      &-name{
        padding-bottom: 40px;
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
          
        }
      }
      &-explanation {
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 100px;
          width: 100%;
          outline: none;
          padding: 16px;
          resize: vertical;
        }
      }
    }
    &__detail {
      padding: 40px;
      border-bottom: 1px solid #efefef;
      position: relative;
      &__category {
        padding-bottom: 40px;
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
        }
      }
      &__brand {
        padding-bottom: 40px;
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: grey;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
        }
      }
      &__status {
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
        }
      }
    }
    &__shipping {
      padding: 40px;
      border-bottom: 1px solid #efefef;
      position: relative;
      &__postage {
        padding-bottom: 40px;
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
        }
      }
      &__area {
        padding-bottom: 40px;
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
        }
      }
      &__day {
        &__title {
          display: flex;
          &__sub {
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: red;
            margin-left: 5px;
          }
        }
        &__text {
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 48px;
          width: 100%;
          outline: none;
          padding: 0 16px;
        }
      }
    }
    &__price {
      padding: 40px;
      border-bottom: 1px solid #efefef;
      position: relative;
      display: flex;
      justify-content: space-between;
      &__title {
        display: flex;
        align-items: center;
        line-height: 20px;
        &__sub {
          color: white;
          padding: 0px 3px;
          border-radius: 2px;
          background-color: red;
          margin-left: 5px;
        }
      }
      &__text {
        margin-top: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 48px;
        outline: none;
        padding: 0 16px;
      }
    }
    &__button {
      width: 360px;
      margin: 40px auto;
      position: relative;
      display: flex;
      align-items: center;
      &__sell {
        font-size: 17px;
        min-height: 48px;
        width: 100%;
        color: white;
        padding: 0px 3px;
        border-radius: 4px;
        background-color: red;
        outline: none;
      }
    }
  }
}