//カード登録後の画面
.information
  .information__detail
    .information__detail__card
      %label 登録クレジットカード情報
    .information__detail__card__number
      .information__detail__card__number__date
        %p.information__detail__card__number__date__content
          = "**** **** ****" + @default_card_information.last4
        %p.information__detail__card__number__date__expire
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      .information__detail__card__number__button
        = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button 削除する
      .information__detail__card__number-return
        = link_to "トップへ戻る", root_path, {class: "information__detail__card__number-return__button"}
