// カード登録画面
@mixin form {
  height: 45px;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
}

@mixin card_information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.card {
  background-color: white;
  margin-top: 40px;
  &___information {
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: white;
    h2 {
      font-size: 20px;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 60px;
    }
    &__content {
      width: 330px;
      margin: auto;
      padding-top: 20px;
      border-top: 1px solid #f5f5f5 ;
      &__detail {
        margin-left: 16px;
        label {
          font-size: 15px;
        }
        &__image {
          width: 300px;
          height: 40px;
          padding-top: 7px;
          &__image2 {
            width: 300px;
          }
          &-detail {
            width: 100%;
          }
        }
        &__form {
          @include form;
          width: 300px;
          margin-top: 5px;
        }
        &__expire__date {
          padding-top: 8px;
          &__month {
            @include form;
            width: 100px;
          }
          &__year {
            @include form;
            width: 100px;
          }
          &__security {
            margin-top: 15px;
            &__code {
              margin-top: 7px;
              &__cvc {
                @include form;
                width: 300px;
              }
              &__submit {
                margin-top: 20px;
                &__button {
                  @include form;
                  width: 300px;
                  background-color: #3ccace;
                  color: white;
                }
                &__button:hover {
                  background-color: #B5F3E1;
                }
              }
            }
            &-return {
              padding-top: 20px;
              text-align: center;
              &__button {
                color: black;
              }
            }
          }
        }
      }
    }
  }
}