.main {
  background-color: #f8f8f8;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    .contentLeft{
    }
    .contentRight {
      width: 700px;
      margin: 0 auto;
      .topContent {
        .itemBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          %h2.itemBox_name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          .itemBox_body {
            margin: 16px 0 0;
            %ul {
              display: flex;
              position: relative;
            }
          }
          .itemBox_price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            .span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
          }    
          .itemBox_price-detail {
            font-size: 16px;
          }
            .span {
              font-size: 16px;
            }  
            .span {
              font-size: 16px;
            }
          .itemDetail{
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .table {
            margin-bottom: 20px;
            .table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              .tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                .tr {
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  .th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  .td{
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                  }
                }
              }    
            }
          }        
          .optionalArea {
            display: flex;
            justify-content: space-between;
            %ul {
              margin: 10px 0 0;
              display:flex
              %li.likeBtn {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }
            %ul.optional {
              margin: 10px 0 0;
              display: flex;
            
              %li.optionalBtn {
                font-size: 14px;
                %a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  %i.f-flag {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
              }
            }
          }         
        }
      }    
    }
  } 
}