.body
  .container
    .container-main
      .container-main__informations
        .container-main__informations__image
          .container-main__informations__image__photo
          = icon('far', 'edit')
          .container-main__informations__image__list
            %ul
              %li
                = current_user.nickname
              %li 出品数
              %li 0
              %li.container-main__informations__image__list__detail 購入数
              %li 0
        .container-main__informations__tab
          .container-main__informations__tab__detail-left
            %p 出品リスト
          .container-main__informations__tab__detail-right
            %p 購入リスト

    = render 'side-bar'

